---
layout:
---
@import "css/_highlight";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .container-grid {
    @apply grid;

    grid-template-columns: 1fr min(80ch, 100%) 1fr;

    > * {
      grid-column: 2;
    }
  }

  .full-bleed {
    @apply w-full;

    grid-column: 1 / -1;
  }

  .pseudo-full-bleed {
    @apply full-bleed max-w-screen-lg mx-auto;
  }
}

body {
  @media (prefers-color-scheme: dark) {
    @apply bg-gray-900;
  }
}

a {
  @apply font-semibold text-blue-600;

  @media (prefers-color-scheme: dark) {
    @apply text-yellow-500;
  }

  &:hover {
    @apply text-blue-500;

    @media (prefers-color-scheme: dark) {
      @apply text-yellow-600;
    }
  }
}

main {
  @apply px-4 py-12;

  @screen lg {
    @apply px-8;
  }

  + footer {
    @apply px-4 py-10 text-center text-gray-800 bg-gray-100 border-t-2 border-gray-300;

    @screen lg {
      @apply text-lg;
    }

    @media (prefers-color-scheme: dark) {
      @apply bg-gray-800 text-gray-200 border-gray-700;
    }

    div {
      @apply max-w-3xl mx-auto leading-7;
    }

    p + p {
      @apply mt-4;
    }
  }
}

.homepage {
  @apply container-grid;

  h1 {
    @apply text-4xl font-extrabold tracking-tight;

    @media (prefers-color-scheme: dark) {
      @apply text-gray-100;
    }

    @screen lg {
      @apply text-5xl leading-tight;
    }
  }

  h2 {
    @apply mt-16 text-3xl font-extrabold;

    @media (prefers-color-scheme: dark) {
      @apply text-gray-200;
    }

    @screen lg {
      @apply mt-20 text-4xl leading-tight;
    }
  }

  div {
    @apply leading-relaxed;

    @screen lg {
      @apply text-xl leading-relaxed;
    }

    p {
      @apply my-2 text-gray-800;

      @media (prefers-color-scheme: dark) {
        @apply text-gray-300;
      }
    }
  }
}

.about-me,
.journal,
.projects {
  @apply container-grid;

  h1 a {
    @media (prefers-color-scheme: dark) {
      @apply text-gray-500;

      &:hover {
        @apply text-gray-300;
      }
    }
  }
}

.projects {
  h2 {
    @apply mb-8 text-4xl font-extrabold tracking-tight;

    @screen lg {
      @apply text-5xl;
    }

    @media (prefers-color-scheme: dark) {
      @apply text-gray-200;
    }
  }
}

.journal,
.projects {
  ul {
    @apply leading-tight list-none;
  }

  li {
    @apply mb-12;
  }

  a:hover {
    span {
      @apply underline;
    }
  }

  time {
    @apply block text-base font-normal text-gray-700;

    @media (prefers-color-scheme: dark) {
      @apply text-gray-500;
    }
  }

  span {
    @apply text-4xl;
  }

  p {
    @apply font-normal text-gray-800;

    @media (prefers-color-scheme: dark) {
      @apply text-gray-300;
    }
  }
}

.resume {
  header {
    p {
      @apply text-lg;

      @media (prefers-color-scheme: dark) {
        @apply text-gray-400;
      }
    }
  }

  section {
    @apply mt-5 mb-10;

    p {
      @apply mt-2;
    }
  }

  h2,
  h3,
  h4 {
    @apply m-0 leading-none;
  }

  h3 {
    @apply my-2 text-gray-700;

    @media (prefers-color-scheme: dark) {
      @apply text-gray-500;
    }
  }

  h4 {
    @apply text-gray-600;
  }

  .external {
    @apply mb-10 text-center;

    li {
      @apply inline-block mx-2;
    }

    a {
      @apply underline;
    }
  }
}

article {
  header,
  section,
  footer {
    @apply container-grid;
  }

  header {
    @apply mb-8;

    h1 {
      @apply text-4xl font-extrabold tracking-tight;

      @screen lg {
        @apply text-5xl;
      }

      @media (prefers-color-scheme: dark) {
        @apply text-gray-200;
      }
    }

    h2 {
      @apply mt-2 text-2xl font-bold tracking-tight text-gray-700;

      @screen lg {
        @apply text-3xl;
      }

      @media (prefers-color-scheme: dark) {
        @apply text-gray-400;
      }
    }
  }

  section {
    h2,
    h3,
    h4 {
      @media (prefers-color-scheme: dark) {
        @apply text-gray-300;
      }
    }

    h2 {
      @apply mt-10 mb-1 text-2xl font-extrabold;

      @screen lg {
        @apply text-3xl;
      }
    }

    h3 {
      @apply mt-8 mb-1 text-xl font-bold;

      @screen lg {
        @apply text-2xl;
      }
    }

    h4 {
      @apply mt-6 font-bold leading-relaxed;

      @screen lg {
        @apply text-xl;
      }
    }

    p,
    ol,
    ul {
      @apply leading-relaxed;

      @screen lg {
        @apply text-xl leading-relaxed;
      }

      @media (prefers-color-scheme: dark) {
        @apply text-gray-300;
      }

      + p,
      + ol,
      + ul {
        @apply mt-4;
      }
    }

    p {
      &.outdated {
        @apply p-2 text-center bg-yellow-100 border-2 border-yellow-200 rounded-lg;

        @media (prefers-color-scheme: dark) {
          @apply bg-gray-800 border-gray-700;
        }
      }

      code {
        @apply px-2 py-1 text-base text-black bg-gray-200 rounded-lg;

        @media (prefers-color-scheme: dark) {
          @apply bg-gray-800 text-gray-400;
        }
      }
    }

    blockquote {
      @apply pseudo-full-bleed my-8;

      p {
        @apply text-gray-800 font-serif text-2xl leading-relaxed italic;
      }
    }

    ul {
      @apply leading-loose list-disc;
    }

    figure {
      @apply pseudo-full-bleed my-8;

      position: relative;

      &[data-language]::before {
        @apply absolute top-0 right-0 bg-gray-200 text-gray-600 px-4 py-2 rounded-tr-lg rounded-bl-lg font-medium;

        content: attr(data-language);
      }

      figcaption {
        @apply mt-2 text-sm text-center text-gray-700;

        @media (prefers-color-scheme: dark) {
          @apply text-gray-500;
        }

        code {
          @apply text-xs;
        }
      }
    }

    .highlight {
      @apply m-0 bg-gray-50 border-2 border-gray-200 rounded-lg;

      @media (prefers-color-scheme: dark) {
        @apply bg-black border-gray-800;
      }

      pre {
        @apply p-0 m-0 overflow-x-scroll;
      }

      code {
        @apply inline-block p-6 leading-normal;

        @media (prefers-color-scheme: dark) {
          filter: invert(1);
        }
      }
    }

    .highlight-lines .line:not(.highlight-line) {
      span {
        @apply text-gray-600;
      }
    }
  }

  footer {
    @apply mt-8 text-center text-gray-700;

    @media (prefers-color-scheme: dark) {
      @apply text-gray-500;
    }
  }
}
