---
layout:
sitemap: false
description: false
---

{% include header.html id="article" %}

<header class="container">
  <h1><a href="/">Tristan Dunn</a></h1>
</header>

<section role="main" class="container subscribed">
  <article>
    <header>
      <div itemprop="name">
        <h1>Subscribed</h1>

        <h2>Thank you for subscribing!</h2>
      </div>
    </header>

    <section>
      <p>You can <a href="/">return to the homepage</a>, or <a href="mailto:hello@tristandunn.com">let me know</a> what you'd like to hear about soon.</p>
    </section>
  </article>
</section>

{% include footer.html %}
