---
layout:
---

{% include header.html id="error" %}

<header>
  <div><div>
    <a href="/">
      <h1>Tristan Dunn</h1>

      <p>Developer and tolerable designer.</p>
    </a>
  </div></div>
</header>

<section class="container" role="main">
  <h1>Not Found</h1>

  <p>The page you are looking for doesn't seem to exist. You can go to <a href="/">the homepage</a>, or if you think the page is really missing then you should <a href="mailto:hello@tristandunn.com">let me know</a>.</p>
</section>

{% include footer.html %}
