---
---

{% include newsletter.html %}

<div class="container">
  <section role="main" class="articles">
    <h1>Latest Articles</h1>

    <ul itemscope itemtype="http://schema.org/Blog">
      {% for post in site.posts %}
        {% if post.archived %}
          {% continue %}
        {% endif %}

        <li class="post" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
          <a href="{{ post.url }}">
            <h2 itemprop="name">{{ post.title | xml_escape }}{% if post.part %}: Part {{ post.part }}{% endif %}</h2>
            <p itemprop="description">{{ post.description | xml_escape }}</p>
            <p class="published"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date_to_string }}</time></p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

  <aside role="complementary">
    <h2>About Me</h2>

    <p>I'm an engineer at <a href="https://envoy.com">Envoy</a> and I created <a href="http://getfadeaway.com">Fadeaway</a>, a Dribbble desktop client. Formerly at ROLI, Blend, Dribbble, Google, meebo, and thoughtbot.</p>

    <p>I was born and raised in Louisiana, but briefly lived in Boston &#38; San Francisco.</p>

    <p>I love hockey.</p>

    <h2>Categories</h2>

    {% assign categories = site.posts | group_by:"category" | sort:"name" %}

    <ol>
      {% for category in categories %}
        {% if category.name == "" %}
          {% continue %}
        {% endif %}

        <li>
          <a href="/categories/{{ category.name }}/">{{ category.name | titleize }}</a>
        </li>
      {% endfor %}
    </ol>
  </aside>
</div>
