<footer class="container" role="complementary">
  <ul class="external">
    <li><a href="https://blend.io/tristandunn">Blend</a></li>
    <li><a href="https://dribbble.com/tristandunn">Dribbble</a></li>
    <li><a href="https://github.com/tristandunn">GitHub</a></li>
    <li><a href="https://twitter.com/tristandunn">Twitter</a></li>
  </ul>

  <ul>
    <li><a href="mailto:hello@tristandunn.com">hello@tristandunn.com</a></li>
  </ul>
</footer>

<script>{% asset global.js %}</script>

</body>
</html>
