<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | xml_escape }}{% if page.subtitle %} - {{ page.subtitle | xml_escape }}{% endif %}{% else %}Tristan Dunn{% endif %}</title>

  {% if page.description %}
    <meta name="description" content="{{ page.description | xml_escape }}">
    <meta name="twitter:card" content="{% if page.image %}summary_large_image{% else %}summary{% endif %}">
    <meta name="twitter:site" content="@tristandunn">
    <meta name="twitter:title" content="{{ page.title | xml_escape }}{% if page.part %}: Part {{ page.part }}{% endif %}">
    <meta name="twitter:description" content="{{ page.description | xml_escape }}">
    <meta name="twitter:url" content="{{ page.url | prepend: site.url }}">
    {% if page.image %}
      <meta name="twitter:image" content="{{ page.image | asset_path }}">
    {% endif %}
  {% elsif include.category %}
    <meta name="description" content="{{ include.category | titleize | prepend: "All of the articles I have written on " | append: "." | xml_escape }}">
  {% elsif page.description != false %}
    <meta name="description" content="A Ruby and Javascript developer, tolerable designer, and author.">
  {% endif %}

  {% capture css %}
    {% asset global.css %}

    {% if include.id %}
      {{ include.id | append: ".css" | asset }}
    {% endif %}
  {% endcapture %}

  <style type="text/css">{{ css | strip_newlines }}</style>

  <link rel="alternate" type="application/rss+xml" title="Tristan Dunn" href="{{ "/feed.xml" | prepend: site.url }}">
</head>
<body{% if include.id %} id="{{ include.id }}"{% endif %}>
