@import "reset";
@import "shared";

html {
  font-size: 90%;

  // Scales by 1px for every 100px from 600px onwards
  @media (min-width: 600px) {
    font-size: calc(112.5% + 4 * (100vw - 600px) / 400);
  }

  // Sets font-size to 22px after a viewport of 1000px
  @media (min-width: 1000px) {
    font-size: 137.5%;
  }
}

body {
  background: $white;
  color: $black;
  font-family: $font-stack-system;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
}

main {
  padding: 5vw;
}
