.c     { color: #998; font-style: italic; }
.err   { color: #A61717; background-color: #E3D2D2; }
.k     { font-weight: 600; }
.o     { font-weight: 600; }
.cm    { color: #998; font-style: italic; }
.cp    { color: #999; font-weight: 600; }
.c1    { color: #998; font-style: italic; }
.cs    { color: #999; font-weight: 600; font-style: italic; }
.gd    { color: #000; background-color: #FDD; }
.gd .x { color: #000; background-color: #FAA; }
.ge    { font-style: italic; }
.gr    { color: #A00; }
.gh    { color: #999; }
.gi    { color: #000; background-color: #DFD; }
.gi .x { color: #000; background-color: #AFA; }
.go    { color: #888; }
.gp    { color: #555; }
.gs    { font-weight: 600; }
.gu    { color: #800080; font-weight: 600; }
.gt    { color: #A00; }
.kc    { font-weight: 600; }
.kd    { font-weight: 600; }
.kn    { font-weight: 600; }
.kp    { font-weight: 600; }
.kr    { font-weight: 600; }
.kt    { color: #458; font-weight: 600; }
.m     { color: #099; }
.s     { color: #D14; }
.n     { color: #333; }
.na    { color: teal; }
.nb    { color: #0086B3; }
.nc    { color: #458; font-weight: 600; }
.no    { color: teal; }
.ni    { color: purple; }
.ne    { color: #900; font-weight: 600; }
.nf    { color: #900; font-weight: 600; }
.nn    { color: #555; }
.nt    { color: navy; }
.nv    { color: teal; }
.ow    { font-weight: 600; }
.w     { color: #BBB; }
.mf    { color: #099; }
.mh    { color: #099; }
.mi    { color: #099; }
.mo    { color: #099; }
.sb    { color: #D14; }
.sc    { color: #D14; }
.sd    { color: #D14; }
.s2    { color: #D14; }
.se    { color: #D14; }
.sh    { color: #D14; }
.si    { color: #D14; }
.sx    { color: #D14; }
.sr    { color: #009926; }
.s1    { color: #D14; }
.ss    { color: #990073; }
.bp    { color: #999; }
.vc    { color: teal; }
.vg    { color: teal; }
.vi    { color: teal; }
.il    { color: #099; }
.gc    { color: #999; background-color: #EAF2F5; }
