@import "bourbon";

$text-dull:   #889;
$text-subtle: #334;
$text-header: #112;

$link-color:              #38C;
$link-hover-color:        #38C;
$link-border-color:       #EAEAEA;
$link-hover-border-color: #38C;

$section-border-color: #E8EEF1;

$link-border:    2px solid $link-border-color;
$section-border: 2px solid $section-border-color;

$newsletter-highlight:  #3ECC69;
$newsletter-background: #FBFBFB;
$newsletter-foreground: #FFF;
