@media screen and (max-width: 960px) {
  .container,
  body > header,
  footer .container {
    width: 100%;
  }

  body > header,
  #homepage > header {
    height: 48px;
    margin: 32px auto;

    h1 {
      font-size: 28px;
    }

    p {
      font-size: 12px;
      text-indent: 4px;
    }

    img {
      width: 48px;
      height: 48px;
    }

    div {
      div {
        padding: 0;
      }
    }
  }

  #homepage {
    > header {
      div {
        div {
          padding: 0 0 0 64px;
        }
      }
    }

    aside,
    section {
      width: 100%;
      margin: 0 auto;
      padding: 32px;
      float: none;
    }

    aside p,
    section p {
      font-size: 14px;
      line-height: 1.6;
    }

    section {
      h2 {
        border: 0;
        font-size: 20px;
        line-height: 1.4;
      }

      p {
        padding: 2px 0 4px 0;
      }

      time {
        font-size: 12px;
      }
    }

    aside p {
      margin: 0 0 32px 0;
    }
  }

  article {
    padding: 0 32px;

    header {
      h1 {
        font-size: 36px;
        letter-spacing: -1px;
      }

      h2 {
        font-size: 20px;
      }

      p {
        font-size: 12px;
      }
    }

    section {
      h2 {
        font-size: 22px;
      }

      h3 {
        font-size: 16px;
      }

      p,
      ul {
        font-size: 14px;
      }

      p {
        &:first-child {
          font-size: 16px;
        }
      }

      pre,
      code,
      p code,
      li code,
      figcaption code {
        font-size: 12px;
      }

      figcaption {
        font-size: 14px;
        overflow: hidden;

        code {
          font-size: 11px;
          white-space: normal;
        }
      }
    }
  }

  footer {
    padding: 0 32px;

    section {
      padding: 32px;
      max-width: 480px;
    }

    h1 {
      font-size: 16px;
    }

    p {
      font-size: 12px;

      &.note {
        margin: 0;
        text-align: center;
      }
    }

    input,
    button {
      width: 100%;
      margin: 0 0 8px 0;
      font-size: 14px;
      float: none;
    }
  }
}
