//= require highlight

@import "shared";
@import "newsletter";

body > header {
  border-bottom: $section-border;
}

article {
  margin: 48px 0;

  header {
    margin: 0 0 48px 0;
    text-align: center;

    h1 {
      color: $text-header;
      margin-bottom: 12px;
      font-size: 68px;
      font-weight: 400;
      letter-spacing: -2px;
    }

    h2 {
      color: $text-subtle;
      margin: 12px 0;
      font-size: 28px;
      font-weight: 300;
    }

    span {
      display: none;
    }
  }

  section {
    :last-child {
      margin-bottom: 0;
    }

    h2,
    h3,
    h4 {
      font-weight: 700;
    }

    h2 {
      color: $text-header;
      margin: 32px 0 6px 0;
      font-size: 32px;
    }

    h3 {
      color: $text-subtle;
      margin: 28px 0 3px 0;
      font-size: 25px;
    }

    h4 {
      color: $text-subtle;
      margin: 0 0 3px 0;
      font-size: 20px;
    }

    p,
    ul {
      margin: 0 0 32px 0;
      font-size: 20px;
      line-height: 1.6;
      quotes: "\201C" "\201D" "\2018" "\2019";

      a {
        color: $link-hover-color;

        &:hover {
          border-bottom: 2px solid $link-hover-border-color;
        }
      }
    }

    p {
      &:first-child {
        font-size: 26px;

        &.outdated {
          text-align: center;
        }

        a {
          color: inherit;
          border-bottom: $link-border;

          &:hover {
            color: $link-hover-color;
            border-color: $link-hover-border-color;
          }
        }
      }
    }

    ul {
      line-height: 1.6;
      list-style-type: square;

      strong {
        font-weight: 600;
      }
    }

    abbr {
      border-bottom: 2px dotted $link-border-color;
      cursor: help;
    }

    em {
      font-style: italic;
    }

    strong {
      font-weight: 700;
    }

    pre,
    code {
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      line-height: 1.5;
    }

    p,
    li,
    figcaption {
      code {
        background-color: #FAFAFB;
        padding: 4px 6px;
        border: 1px solid #DDD;
        border-radius: 2px;
        font-size: 14px;
        white-space: nowrap;
      }
    }

    figure {
      margin: 0 0 32px 0;
    }

    figcaption {
      color: $text-dull;
      margin: 8px 0 0 0;
      line-height: 1.4;
      text-align: center;

      code {
        border: 1px solid #EEE;
        font-size: 13px;
      }
    }

    .highlight {
      background-color: #FAFAFB;
      padding: 18px;
      border: 2px solid #F0F0F0;
      border-radius: 4px;
      overflow: auto;
    }

    .pull-right {
      margin: 0 32px 16px 32px;
      float: right;
    }
  }

  footer {
    p {
      color: $text-dull;
      margin-top: 32px;
      font-style: italic;

      a {
        color: $text-subtle;
        border-bottom: $link-border;
      }
    }
  }
}

section.series {
  margin: 48px 0;
  padding: 48px 0 0 0;
  border-top: $section-border;

  h1 {
    color: $text-subtle;
    margin: 0 0 12px 0;
    font-size: 25px;
    font-weight: 600;
  }

  ol {
    margin: 0 0 0 32px;
    font-size: 20px;
    line-height: 1.6;

    li {
      position: relative;
      padding: 12px 16px;
      border-left: 2px solid $text-subtle;
      counter-increment: li-counter;

      &:before {
        position: absolute;
        top: 50%;
        left: -8px;
        width: 0;
        height: 0;
        margin: -4px 0 0 0;
        border-style: solid;
        border-width: 4px 6px 4px 0;
        border-color: transparent $text-subtle transparent transparent;
        content: "";
      }

      &:after {
        position: absolute;
        left: -28px;
        color: $text-subtle;
        font-weight: 600;
        content: counter(li-counter);
      }

      &.current {
        border-color: $link-color;

        &:before {
          border-color: transparent $link-color transparent transparent;
        }

        a,
        &:after {
          color: $link-color;
          border: 0;
        }
      }

      a {
        color: $text-subtle;
        border-bottom: $link-border;

        &:hover {
          color: $link-hover-color;
          border-color: $link-hover-border-color;
        }
      }
    }
  }
}

body.subscribed {
  > footer {
    border-top: $section-border;
  }

  .newsletter {
    display: none;
  }
}

.container.error,
.container.subscribed {
  border-bottom: $section-border;
}
