@import "shared";
@import "homepage";

body > header {
  border-bottom: $section-border;
}

.newsletter {
  background: transparent;
  margin: 0 0 48px 0;
  border: 0;

  header,
  section {
    width: $aside-width;
    padding: 0;
    float: none;
  }

  header {
    h1 {
      @extend %h2;
    }

    p {
      color: $grey-800;
      margin: 8px 0 16px 0;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.4;
    }
  }
}
