@import "shared";

body > header {
  border-bottom: $section-border;
}

body > footer {
  border-top: $section-border;
}

section.container {
  width: 560px;
  padding: 48px 0;

  h1 {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -0.5px;
  }

  p {
    margin: 8px 0 0 0;
    font-size: 20px;
    line-height: 1.6;

    a {
      color: $link-color;

      &:hover {
        border-bottom: $link-border;
      }
    }
  }
}
