//= require reset

@import "shared";

body,
input,
button {
  @include font-feature-settings("kern");

  font: 16px/1 "Proxima Nova", $helvetica;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body.wf-active {
  &,
  input,
  button {
    font-family: "proxima-nova", $helvetica;
  }
}

.container {
  @include clearfix;

  width: 960px;
  margin: 0 auto;
}

a {
  color: currentColor;
  text-decoration: none;

  &:hover {
    color: $light-blue-600;
    border-color: $light-blue-600;
  }
}

body > header,
body > footer {
  padding: 48px 0;

  ul {
    float: right;

    li {
      margin: 0 0 0 24px;
      display: inline-block;
      float: left;

      a {
        color: $grey-600;
        border-bottom: $link-border;
        font-size: 16px;
        font-weight: 500;

        &:hover {
          border-bottom-color: $light-blue-600;
        }
      }
    }
  }
}

body > header {
  h1 {
    font-size: 32px;
    font-weight: 500;
    float: left;
  }
}

body > footer {
  margin: 48px 0;

  ul.external {
    float: left;

    li {
      margin: 0 24px 0 0;
    }
  }
}
