@import "shared";
@import "newsletter";

body > header {
  h1,
  li a {
    line-height: 64px;
  }

  img {
    @include filter(grayscale(33%));

    margin: 0 16px 0 0;
    border-radius: 50%;
    float: left;
  }
}

body > footer {
  border-top: $section-border;
}

aside,
.articles {
  padding: 48px 0;
}

.articles {
  width: $section-width;
  float: left;

  h1 {
    color: $grey-600;
    margin: 0 0 8px 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  h2 {
    border-bottom: $link-border;
    border-width: 2px;
    font-size: 36px;
    font-weight: 600;
    word-break: break-word;
    display: inline-block;
  }

  a {
    color: $grey-900;
    display: block;

    &:hover h2 {
      color: $light-blue-600;
      border-color: $light-blue-600;
    }
  }

  p {
    color: $grey-600;
    margin: 8px 0 0 0;
    font-size: 18px;
    line-height: 1.6;

    &.published {
      color: $grey-600;
      margin: 6px 0 0 0;
      font-size: 14px;
      font-style: italic;
      line-height: 1;
    }
  }

  li {
    & + li {
      margin-top: 32px;
      padding-top: 32px;
      border-top: 1px solid $grey-200;
    }
  }
}

aside {
  width: $aside-width;
  float: right;

  h2 {
    color: $grey-600;
    margin: 0 0 8px 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  p {
    color: $grey-800;
    margin: 8px 0 0 0;
    font-size: 16px;
    line-height: 1.4;

    & + h2 {
      margin: 48px 0 0 0;
    }
  }

  a {
    border-bottom: $link-border;
  }

  ol {
    margin: 8px 0 0 20px;
    list-style: disc;

    li {
      color: $grey-600;
      font-size: 24px;

      a {
        color: $grey-800;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

body.subscribed {
  > header {
    border-bottom: $section-border;
  }

  .newsletter {
    display: none;
  }
}

@media screen and (max-width: 1012px) {
  aside,
  .articles {
    width: auto;
    float: none;
  }

  .articles {
    h1 {
      margin: 0 0 6px 0;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0;
    }

    h2 {
      border-width: 1px;
      font-size: 28px;
      font-weight: 500;
    }

    p {
      font-size: 15px;

      &.published {
        font-size: 12px;
      }
    }
  }
}
