@import "shared";

main {
  padding: 5vw 8vw;
}

aside,
section {
  max-width: 35rem;

  h1 {
    color: $gray;
    margin: 0 0 2.5vw;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
}

section {
  a {
    font-size: 1.5rem;
  }

  p,
  dd {
    color: $gray;
    padding: 0.2rem 0 0;
    font-size: 0.8rem;
  }

  ul {
    list-style: none;
  }

  dd,
  li {
    margin: 0 0 1.25rem;

    &:last-child {
      margin: 0;
    }
  }
}

aside,
section + section {
  margin: 8vw 0 0;
}

aside {
  p,
  li {
    font-size: 1rem;
  }

  ol {
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }

  p {
    margin: 0 0 1.25rem;
    line-height: 1.4;

    &:last-child {
      margin: 0;
    }
  }

  a {
    font-weight: 500;
  }

  .elsewhere {
    a {
      @include smart-underline($black);

      font-weight: 400;
    }
  }
}
