//= require highlight

@import "bourbon";

article {
  header {
    margin: 0 0 32px 0;
    text-align: center;

    h1 {
      color: #221;
      margin-bottom: 12px;
      font-size: 64px;
      font-weight: 700;
      letter-spacing: -2px;
    }

    h2 {
      color: #554;
      margin: 12px 0;
      font-size: 30px;
      font-weight: 600;
    }

    p {
      color: #887;
      margin-top: 12px;
    }
  }

  section {
    :last-child {
      margin-bottom: 0;
    }

    h2,
    h3 {
      font-weight: 700;
    }

    h2 {
      color: #221;
      margin: 32px 0 6px 0;
      font-size: 32px;
    }

    h3 {
      color: #443;
      margin: 28px 0 3px 0;
      font-size: 25px;
    }

    p,
    ul {
      margin: 0 0 32px 0;
      font-size: 20px;
      line-height: 1.6;
      quotes: "\201C" "\201D" "\2018" "\2019";

      a {
        color: #38C;

        &:hover {
          border-bottom: 2px solid #38C;
        }
      }
    }

    p {
      &:first-child {
        font-size: 26px;

        &.outdated {
          text-align: center;
        }

        a {
          color: inherit;
          border-bottom: 2px solid #EAEAEA;

          &:hover {
            color: #38C;
            border-color: #38C;
          }
        }
      }
    }

    ul {
      line-height: 1.6;
      list-style-type: square;

      strong {
        font-weight: 600;
      }
    }

    abbr {
      border-bottom: 2px dotted #EAEAEA;
      cursor: help;
    }

    pre,
    code {
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      line-height: 1.5;
    }

    p code,
    li code,
    figcaption code {
      background-color: #FAFAFB;
      padding: 4px 6px;
      border: 1px solid #DDD;
      border-radius: 2px;
      font-size: 14px;
      white-space: nowrap;
    }

    figure {
      margin: 0 0 32px 0;
    }

    figcaption {
      color: #555;
      margin: 8px 0 0 0;
      line-height: 1.4;
      text-align: center;

      code {
        border: 1px solid #EEE;
        font-size: 13px;
      }
    }

    .highlight {
      background-color: #FAFAFB;
      padding: 18px;
      border: 2px solid #F0F0F0;
      border-radius: 4px;
      overflow: auto;
    }

    .pull-right {
      margin: 0 32px 16px 32px;
      float: right;
    }
  }
}
