//= require reset
//= require global
//= require article
//= require_self

@import "shared";

article {
  header {
    margin: 0 0 2.5vw;
  }

  h2,
  h3,
  h4 {
    margin: 0 0 0.25rem;
  }
}

header + header,
section + header {
  margin: 5vw 0 2.5vw 0;
}

.external {
  position: absolute;
  top: 5vw;
  right: 5vw;
  padding: 0 3vw;
  font-size: 0.75rem;
  line-height: 1.33rem;
  list-style: none;

  a {
    @include smart-underline($gray);
  }

  li {
    display: inline-block;

    &::after{
      color: $gray;
      margin: 0 0.5rem;
      content: "/";
    }

    &:last-child::after {
      margin: 0;
      content: "";
    }
  }
}

@media (max-width: 1000px) {
  .external {
    position: static;
    top: auto;
    right: auto;
    margin: 0 0 2.5vw;
    padding: 0 3vw;
    font-size: 0.75rem;
    line-height: 1.33rem;
    list-style: none;
  }
}

@media print {
  a {
    background: transparent;
    color: currentColor;
    text-decoration: none;
    text-shadow: none;
  }

  footer {
    display: none;
  }
}
