---
---

{% include header.html id="article" %}

<header class="container">
  <h1><a href="/">Tristan Dunn</a></h1>
</header>

<section role="main" class="container">
  <article role="article" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <div itemprop="name">
        <h1>{{ page.title | xml_escape }}</h1>

        {% if page.subtitle %}
          <span> - </span>

          <h2>{{ page.subtitle | xml_escape }}</h2>
        {% endif %}
      </div>

      <meta content="{{ page.description | xml_escape }}" itemprop="description">
    </header>

    <section itemprop="articleBody">
      {{ content }}
    </section>

    <footer>
      <p>Published on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_string }}</time> in the <a href="/categories/{{ page.category }}/">{{ page.category | titleize }}</a> category.{% if page.modified_at %} Updated on {{ page.modified_at | date_to_string }}.{% endif %}</p>
    </footer>
  </article>

  {% if page.footer %}
    {% include {{ page.footer }} %}
  {% endif %}
</section>

{% include newsletter.html newsletter=page.newsletter %}
{% include footer.html %}
