---
newsletter:
  title: "Newsletter"
  description: "Subscribe for my best content and the latest articles. Delivered for free weekly. Unsubscribe at any time. No spam."
---

{% include header.html id="categories" category=page.category.name  %}

<header class="container">
  <h1><a href="/">Tristan Dunn</a></h1>
</header>

<div class="container">
  <section role="main" class="articles">
    <h1>Articles on {{ page.category.name }}</h1>

    <ul itemscope itemtype="http://schema.org/Blog">
      {% for post in page.category.posts %}
        <li class="post" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
          <a href="{{ post.url }}">
            <h2 itemprop="name">{{ post.title | xml_escape }}{% if post.part %}: Part {{ post.part }}{% endif %}</h2>
            <p itemprop="description">{{ post.description | xml_escape }}</p>
            <p class="published"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date_to_string }}</time></p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

  <aside role="complementary">
    {% include newsletter.html newsletter=page.newsletter %}

    <h2>Other Categories</h2>

    {% assign categories = site.posts | group_by:"category" | sort:"name" %}

    <ol>
      {% for category in categories %}
        {% if category.name == "" %}
          {% continue %}
        {% endif %}

        {% if category.name == page.category.name %}
          {% continue %}
        {% endif %}

        <li>
          <a href="/categories/{{ category.name }}/">{{ category.name | titleize }}</a>
        </li>
      {% endfor %}
    </ol>
  </aside>
</div>

{% include footer.html %}
