---
---

{% include header.html id="homepage" category=page.category.name  %}

<main>
  <section role="main" class="articles">
    <h1>{{ page.category.name }}</h1>

    <ul itemscope itemtype="http://schema.org/Blog">
      {% for post in page.category.posts  %}
        <li class="post" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
          <a href="{{ post.url }}" itemprop="name">{{ post.title | xml_escape | widow }}{% if post.part %}: Part {{ post.part }}{% endif %}</a>
          <p class="published"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date_to_string }}</time></p>
        </li>
      {% endfor %}
    </ul>
  </section>

  <aside role="complementary">
    <h1>Categories</h1>

    {% assign categories = site.posts | group_by:"category" | sort:"name" %}

    <p>
      {% capture names %}
        {% for category in categories %}
          {% if category.name == "" or category.name == page.category.name %}
            {% continue %}
          {% endif %}

          <a href="/categories/{{ category.name }}/">{{ category.name | titleize }}</a>|
        {% endfor %}
      {% endcapture %}

      {{ names | strip | split:"|" | join:", " }}
    </p>
  </aside>
</main>

{% include footer.html %}
