<!DOCTYPE html>
<html lang="en-US" class="font-sans antialiased leading-tight text-gray-900">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% assign title = page.title | xml_escape %}

  {% if page.description != false %}
    {% assign description = page.description | default: site.description | xml_escape %}

    <meta name="description" content="{{ description }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@tristandunn">

    <meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
    <meta property="og:url" content="{{ page.url | prepend: site.url }}">
    <meta property="og:title" content="{% if title != "" %}{{ title }}{% if page.part %}: Part {{ page.part }}{% endif %}{% else %}Tristan Dunn{% endif %}">
    <meta property="og:description" content="{{ description }}">
    {% if page.image %}
      <meta property="og:image" content="/images/{{ page.image }}">
    {% endif %}
  {% endif %}

  <title>{% if title != "" %}{{ title }} — {% endif %}Tristan Dunn</title>

  <link rel="stylesheet" href="/css/application.css">
</head>
<html>
<body>

{{ content }}

</body>
</html>
