<!DOCTYPE html>
<html lang="en-US" class="font-sans antialiased text-gray-900">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% capture title %}
    {% if page.id %}
      {{ page.title }}{% if page.subtitle %} - {{ page.subtitle }}{% endif %}
    {% else %}
      {% if page.title %}
        {{ page.title }} -
      {% endif %}
      Tristan Dunn
    {% endif %}
  {% endcapture %}

  {% if page.description != false %}
    {% assign description = page.description | default: site.description | xml_escape %}

    <meta name="description" content="{{ description }}">
    <meta name="twitter:card" content="{{ page.twitter_card | default: "summary" }}">
    <meta name="twitter:site" content="@tristandunn">

    <meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
    <meta property="og:url" content="{{ page.url | prepend: site.url }}">
    <meta property="og:title" content="{{ title | strip | xml_escape }}">
    <meta property="og:description" content="{{ description }}">
    {% if page.image %}
      <meta property="og:image" content="{{ page.image | prepend: "/images/" | prepend: site.url }}">
    {% endif %}
  {% endif %}

  <title>{{ title | strip | xml_escape }}</title>

  <link rel="me" href="https://mastodon.social/@tristandunn">
  <link rel="stylesheet" href="/css/application.css">
</head>
<html>
<body>

{{ content }}

</body>
</html>
